<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="stylesheet/utils.css">
    <link rel="stylesheet" type="text/css" href="stylesheet/login-register.css">
    <title>Login</title>
</head>
<body>
    <div id="loginPage" class="center">
        <h1 class="ml-20">Login</h1>
        <form action="/loginHandler" method="post">
            <input type="text" name="email" placeholder="Enter Email" />
            <input type="password" name="password" placeholder="Enter Password" />
            <button type="submit" class="btn primary-btn ml-10">LOGIN</button>
            <a href="/register" class="btn2 primary-btn">REGISTER</a>
        </form>
    </div>
</body>
</html>

