<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/stylesheet/style.css">
    <link rel="stylesheet" type="text/css" href="/stylesheet/utils.css">
    <script src="https://kit.fontawesome.com/ea94855ddc.js" crossorigin="anonymous"></script>
    <title>Single Post</title>
</head>

<body>
    <div class="container">
        <%- include('profile_side_bar') %>
        <div class="mainContainer">
            <nav>
                <form action="/search" method="get">
                    <input type="text" name="search" class="search ml-10" placeholder="search" />
                    <button type="submit" class="btn primary-btn">search</button>
                </form>
                <button type="button" onclick="postBox()" class="btn sec-btn">Post</button>
                <button class="btn sec-btn">Likes: <%= likes.length %></button>
            </nav>
            <main>
                <%- include('all_post') %>
                <%- include('upload') %>
            </main>
        </div>
    </div>

    <script type="text/javascript" src="/javascript/custom.js"></script>
</body>

</html>