<div class="profileContainer">
    <div class="profile_pic mt-5"><img src="/images/default_pic.png" class="img"></div>
    <h3 class="uName mt-5"><%= user.name %></h3>
    <div class="options">
        <ul>
            <li class="li"><a href="/home" class="anchor">Home</a></li>
            <li class="li"><a href="/post" class="anchor">Post</a></li>
            <li class="li"><a href="/chat" class="anchor">Chat</a></li>
            <li type="button" onclick="postBox()" class="li">Upload</li>
            <li class="li">Notification</li>
            <li class="li">Follow</li>
            <li class="li">Follower</li>
        </ul>
        <ul>
            <li class="li"><a href="/log_out" class="anchor">Sign Out</a></li>
        </ul>
    </div>
</div>