<div id="upload" class="center bg d_none">
    <form action="/uploadHandler" method="post">
        <input type="hidden" name="email" value="<%= user.email %>">
        <input type="file" name="file"/><br>
        <button type="submit" class="btn primary-btn">Upload</button>
    </form>
</div> 